{% extends "layout/client/layout.html" %} {% block content %}
<section class="hero">
  <div
    class="container d-flex flex-column align-items-center justify-content-start position-relative min-vh-100 mb-5 rounded-4"
    style="color: white; background-color: #11009e"
  >
    <h1 class="hero-slogan fw-bold mt-5">AksiKita</h1>
    <p class="line-clamp text-center w-50">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
      sollicitudin nisl eros, ac congue lorem vehicula ut. Donec vulputate
      dapibus pharetra. Duis vitae diam arcu. Fusce blandit at eros at
      condimentum. Quisque sed interdum ante, sit amet rutrum velit. Aenean
      gravida lectus a placerat pretium. Nulla turpis lorem, scelerisque sed mi
      eget, gravida accumsan elit. Duis ultrices arcu eget egestas accumsan.
      Suspendisse fringilla diam vel fermentum facilisis. Fusce tortor ipsum,
      consectetur quis diam id, tristique vestibulum dui. Sed id euismod dui, ac
      aliquam risus.
    </p>
    <img
      class="position-absolute bottom-0 left-0 img-fluid"
      src="{{ url_for('static', filename='img/img_hero/volunteer.webp') }}"
      alt="volunteer"
    />
  </div>
</section>

<section class="aktivitas">
  <div class="container d-flex flex-column min-vh-100 gap-4 mt-5">
    <h1 class="fs-1 fw-bold text-center">Aktivitas</h1>
    <div class="row gy-4">
      {%for aktivitas in aktivitas%}
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card w-100 shadow">
          <img
            src="{{ url_for('static', filename='img/img_aktivitas/' + aktivitas['image']) }}"
            class="card-img-top"
            alt="image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ aktivitas["judul"] }}</h5>
            <p class="card-text line-clamp">{{ aktivitas["deskripsi"] }}</p>
            <a
              href="{{ url_for('aktivitas_detail', id=aktivitas['_id']) }}"
              class="btn btn-primary"
              >Baca Selengkapnya</a
            >
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>

<section class="artikel">
  <div class="container d-flex flex-column min-vh-100 gap-4 mt-5">
    <h1 class="fs-1 fw-bold text-center">Artikel</h1>
    <div class="row gy-4">
      {%for artikel in artikel%}
      <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card w-100 shadow">
          <img
            src="{{ url_for('static', filename='img/img_artikel/' + artikel['image']) }}"
            class="card-img-top"
            alt="image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ artikel["judul"] }}</h5>
            <p class="card-text line-clamp">{{ artikel["deskripsi"] }}</p>
            <a
              href="{{ url_for('artikel_detail', id=artikel['_id']) }}"
              class="btn btn-primary"
              >Baca Selengkapnya</a
            >
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>

{% endblock %}
