<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.css') }}"
    />
    <link
      href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.css.map') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='/favicon.ico') }}"
      type="image/x-icon"
    />
    <title>SukaKita</title>
    {% endblock %}
  </head>
  <body>
    <header>
      {% block header %} {% include "layout/client/navbar.html" %} {% endblock
      %}
    </header>
    <main>
      <div
        class="login d-flex justify-content-center align-items-center min-vh-100"
      >
        <div
          class="container d-flex flex-column justify-content-center align-items-center"
        >
          {% with errors = get_flashed_messages(category_filter=["error"]) %} {%
          if errors %} {%- for message in errors %}
          <div class="alert alert-danger col-12 col-md-4" role="alert">
            {{ message }}
          </div>
          {% endfor -%} {% endif %} {% endwith %}{% with messages =
          get_flashed_messages(category_filter=["success"]) %} {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success col-12 col-md-4" role="alert">
            {{ message }}
          </div>
          {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock
          %}
        </div>
      </div>
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.js.map') }}"></script>
  </body>
</html>
