<section
  class="footer d-flex justify-content-center align-items-center border border-top-2 mt-5"
>
  <div class="container py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a class="nav-link text-white px-2" href="{{ url_for('home') }}"
          >Beranda</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-2" href="{{ url_for('aktivitas') }}"
          >Aktivitas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-2" href="{{ url_for('tentang') }}"
          >Tentang Kami</a
        >
      </li>
    </ul>
    <p class="text-center">&copy; Copyright 2023 by AksiKita.</p>
  </div>
</section>
